/* Load custom font */
@font-face {
    font-family: "Spooked";
    src: url("fonts/Santa's Air Mail.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: "Spooked", sans-serif;
    background-color: #3b0000;
    margin: 0;
    padding: 0;
    color: #098200;
}

header {
    background-color: #820000;
    color: #098200;
    text-align: center;
    padding: 20px;
}

.search-bar {
    margin-top: 10px;
}

.search-bar input {
    font-family: "Spooked", sans-serif;
    padding: 10px;
    width: 60%;
    border: 2px solid #098200;
    border-radius: 5px;
    background-color: #043b00;
    color: #ffebcd; /* light beige text */
}

.search-bar input::placeholder {
    color: #098200;
}

.video-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
}

.video {
    background: #043b00;
    border: 2px solid #098200;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    box-shadow: 0 0 15px rgba(9, 130, 0, 0.4);
}

.video video {
    width: 100%;
    border-radius: 10px;
    border: 2px solid #098200;
}

.video h3 {
    color: #098200;
}

.new-video {
    background: #043b00;
    border: 2px solid #ff181b; /* red outline */
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    box-shadow: 0 0 15px rgba(255, 24, 27, 0.4); /* red glow */
}

.new-video video {
    width: 100%;
    border-radius: 10px;
    border: 2px solid #8c0e10;
}

.new-video h3 {
    color: #098200;
}

.new-text h5 {
    color: #ff181b;
    margin-top: 0px;
    margin-bottom: 8px;
    font-size: 16px;
}

footer {
    background-color: #820000; /* purple footer */
    color: #ffebcd; /* light beige text */
    text-align: center;
    padding: 15px;
    margin-top: 20px;
    border-top: 2px solid #ff7518;
}
